.subscribe-button {
        background-color: rgb(196, 0, 0);
        color: white;
        border: none;
        padding: 10px 10px;
        border-radius: 2px;
        cursor: pointer;
        margin-right: 8px;
        transition: opacity .20s;
        vertical-align: top;
    }

    .subscribe-button:hover {
        opacity: 75%;
    }

    .subscribe-button:active {
        opacity: 50%;
    }

    .join-button{
        background-color: white;
        border-color: rgb(10, 84, 208);
        border-style: solid;
        border-width: 1px;
        color: rgb(45, 112, 199);
        padding: 9px 20px;
        border-radius: 2px;
        cursor: pointer;
        transition: background-color .15s, color .15s;
        vertical-align: top;
    }

    .join-button:hover {
        background-color: rgb(45, 112, 199);;
        color: white;
    }

    .join-button:active {
        opacity: 70%;
    }

    .tweet-button{
        background-color: rgb(27, 142, 234);
        color: white;
        border-style: none;
        padding: 9px 20px;
        border-radius: 18px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 8px;
        transition: box-shadow 0.15s;
        vertical-align: top;
    }

    .tweet-button:hover{
        box-shadow: 5px 5px 10px rgba(77, 73, 73, 0.15);
    }