.header {
    height: 50px;
    display: flex;
    left: 0;
    padding: 0;
    flex-direction: row;
   width: 100%;
   position: fixed;
   background-color: white;
   border-bottom: 1px solid gray;
    z-index: 100;
}

.left-section{
    display: flex;
    align-items: center;
    padding: 0;
    border: none;
}

.middle-section{
    border-color: rgb(111, 104, 110);
    flex: 1;
    justify-content: center;
    margin-left: 70px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}

.search-bar{
    flex: 1;
    height: 36px;
    padding-left: 8px;
    font-size: 16px;
    border: 1px solid gray;
    max-width: 470px;
    box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
    width: 0;
}

.search-bar::placeholder {
    font-family: Roboto, Arial;
    font-size: 16px;
}

.search-button{
    width: 40px;
    height: 39px;
    border: 1px solid gray;
    margin-left: -1px;
    margin-right: 8px;
}

.search-icon{
    height: 25px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 30px;
    border: none;
    background-color: rgb(212, 206, 206);
}

.voice-search-icon{
    height: 24px;
    margin-top: 4px;
}

.right-section {
    width: 180px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    right: 20px;
}

.upload-icon{
    height: 24px;
}

.youtube-apps-icon{
    height: 24px;
}

.notifications-icon{
    height: 24px;
}

.notifications-icon-container{
    position: relative;
}

.notifications-count{
    position: absolute;
    top: 2px;
    right: -2px;
    background-color: crimson;
    color: white;
    font-family: Roboto, Arial;
    font-size: 11px;
    padding: 1px 5px;
    border-radius: 10px;
}

.current-user-picture{
    height: 32px;
    border-radius: 16px;
}

.hamburger-menu{
    height: 24px;
    margin-right: 24px;
    margin-left: 24px;
}

.youtube-logo{
    height: 20px;
}