.sidebar{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 50px;
    background-color: white;
    width: 80px;
}

.sidebar-link{
    height: 75px;
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}

.sidebar-link p{
    font-size: 10px;
    color: rgb(107, 106, 106);
    font-family: Arial;
    margin-top: 1px;
}

.sidebar img{
    height: 30%;
}

.sidebar-link:hover {
    background-color: rgb(231, 228, 228)
}